.links {
  cursor: pointer;
}
.links:hover {
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: noto-sans, sans-serif;
}
header {
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  height: 70px;
  position: fixed;
  width: 100%;
}
header .max-width {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 3%;
  justify-content: space-between;
}
header .max-width img {
  height: 40px;
  cursor: pointer;
}
header .max-width img:hover {
  font-weight: 700;
}
@media (min-width: 768px) {
  header .max-width img {
    height: 50px;
  }
}
@media (min-width: 768px) {
  header .max-width .mobile-nav {
    display: none;
  }
}
header .max-width .mobile-nav .menu-links {
  display: none;
}
header .max-width .mobile-nav .show {
  display: block;
  position: absolute;
  width: 100vw;
  top: 70px;
  right: 0;
  background-color: #f2f2f2;
  text-align: center;
  transition-duration: 1s;
}
header .max-width .mobile-nav .show a {
  cursor: pointer;
  display: block;
  padding: 1rem 0;
  color: #242424;
  text-decoration: none;
}
header .max-width .mobile-nav .show a:hover {
  font-weight: 700;
}
header .max-width .mobile-nav .show a:hover {
  background-color: #d3d3d3;
}
header .max-width .mobile-nav .hamburger {
  display: inline-block;
  cursor: pointer;
}
header .max-width .mobile-nav .hamburger:hover {
  font-weight: 700;
}
header .max-width .mobile-nav .hamburger .bar1,
header .max-width .mobile-nav .hamburger .bar2,
header .max-width .mobile-nav .hamburger .bar3 {
  width: 30px;
  height: 4px;
  background-color: #242424;
  margin: 5px 0;
}
header .max-width .mobile-nav .close .bar1 {
  transform: rotate(45deg) translate(9px, 3px);
}
header .max-width .mobile-nav .close .bar2 {
  opacity: 0;
}
header .max-width .mobile-nav .close .bar3 {
  transform: rotate(-45deg) translate(9px, -4px);
}
header .max-width .desktop-nav {
  display: none;
}
@media (min-width: 768px) {
  header .max-width .desktop-nav {
    display: inline-block;
    cursor: pointer;
  }
  header .max-width .desktop-nav:hover {
    font-weight: 700;
  }
}
