.links {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}
.btn {
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin: 1rem 0;
  display: inline-block;
  width: fit-content;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .btn {
    font-size: 1.125rem;
    margin: 1.5rem 0;
  }
}
/* ***** GLOBAL ***** */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: noto-sans, sans-serif;
  color: #242424;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 1.85rem;
  }
}
h3 {
  text-transform: uppercase;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 1.5rem;
  }
}
p {
  font-size: 1rem;
}
@media (min-width: 1024px) {
  p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1600px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .container .max-width {
    width: 1600px;
  }
}
.btn-white {
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin: 1rem 0;
  display: inline-block;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  border-color: #ffffff;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .btn-white {
    font-size: 1.125rem;
    margin: 1.5rem 0;
  }
}
.btn-white:hover {
  background-color: #ffffff;
  color: #b0b579;
}
/* ***** HEADER ***** */
header {
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  height: 60px;
  position: fixed;
  width: 100%;
}
@media (min-width: 1024px) {
  header {
    height: 70px;
  }
}
header .header-content {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
header .header-content .logo {
  height: 40px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}
header .header-content .logo img {
  height: 100%;
}
header .header-content .mobile-nav {
  height: 30px;
}
@media (min-width: 1024px) {
  header .header-content .mobile-nav {
    display: none;
  }
}
header .header-content .mobile-nav .menu-links {
  display: none;
}
header .header-content .mobile-nav .show-menu {
  display: block;
  position: absolute;
  width: 100vw;
  top: 59px;
  right: 0;
  background-color: #f2f2f2;
  text-align: center;
  transition-duration: 1s;
}
@media (min-width: 1024px) {
  header .header-content .mobile-nav .show-menu {
    top: 70px;
  }
}
header .header-content .mobile-nav .show-menu a {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 1rem 0;
  color: #242424;
  border-top: 1px solid #d3d3d3;
}
header .header-content .mobile-nav .show-menu a:hover {
  background-color: #d3d3d3;
}
header .header-content .mobile-nav .hamburger {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}
header .header-content .mobile-nav .hamburger .bar1,
header .header-content .mobile-nav .hamburger .bar2,
header .header-content .mobile-nav .hamburger .bar3 {
  width: 30px;
  height: 4px;
  background-color: #242424;
  margin: 5px 0;
}
header .header-content .mobile-nav .close .bar1 {
  transform: rotate(45deg) translate(9px, 3px);
}
header .header-content .mobile-nav .close .bar2 {
  opacity: 0;
}
header .header-content .mobile-nav .close .bar3 {
  transform: rotate(-45deg) translate(9px, -4px);
}
header .header-content .desktop-nav {
  display: none;
  height: 70px;
}
@media (min-width: 1024px) {
  header .header-content .desktop-nav {
    display: flex;
    align-items: center;
    text-align: center;
  }
  header .header-content .desktop-nav a {
    padding: 24px 1rem;
    width: 102px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: #242424;
  }
  header .header-content .desktop-nav a:hover {
    background-color: #f2f2f2;
  }
  header .header-content .desktop-nav .menu-dropdown {
    display: none;
    background-color: #f2f2f2;
    position: absolute;
    top: 70px;
  }
  header .header-content .desktop-nav .menu-dropdown a {
    border-top: 1px solid #d3d3d3;
    display: block;
    font-weight: 400;
    padding: 1rem;
  }
  header .header-content .desktop-nav .menu-dropdown a:hover {
    background-color: #d3d3d3;
  }
  header .header-content .desktop-nav .exit-btn {
    background-color: #eb3840;
    padding: 0.5rem 0;
    margin-left: 0.5rem;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    border: 4px solid #eb3840;
  }
  header .header-content .desktop-nav .exit-btn:hover {
    color: #eb3840;
    background-color: #ffffff;
  }
}
/* ***** QUICK LINKS ***** */
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
@media (min-width: 1024px) {
  .quick-links {
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }
}
.quick-links .links {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin: 1rem 0;
  display: inline-block;
  width: fit-content;
  text-transform: uppercase;
  color: #242424;
  border-color: #b0b579;
  width: 80%;
  background-color: rgba(176, 181, 121, 0.3);
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0.5rem;
}
@media (min-width: 1024px) {
  .quick-links .links {
    font-size: 1.125rem;
    margin: 1.5rem 0;
  }
}
.quick-links .links:hover {
  background-color: #ffffff;
}
@media (min-width: 1024px) {
  .quick-links .links {
    margin: 0.5rem;
    padding: 1rem 0.5rem;
  }
}
.quick-links .links img {
  width: 22px;
  padding-right: 0.5rem;
}
@media (min-width: 1440px) {
  .quick-links .links img {
    width: 28px;
  }
}
.quick-links .links h3 {
  display: inline-block;
}
/* ***** HERO ***** */
.hero {
  padding-top: 60px;
  display: flex;
  flex-direction: column-reverse;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .hero {
    padding-top: 70px;
    flex-direction: row;
  }
}
.hero .hero-img {
  height: 165px;
  overflow: hidden;
}
@media (min-width: 425px) {
  .hero .hero-img {
    height: 250px;
  }
}
@media (min-width: 600px) {
  .hero .hero-img {
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .hero .hero-img {
    width: 60%;
  }
}
.hero .hero-img img {
  width: 100%;
  object-position: 0 -70px;
}
@media (min-width: 768px) {
  .hero .hero-img img {
    object-position: 0 -170px;
  }
}
.hero .hero-aside {
  background-color: #b0b579;
}
@media (min-width: 1024px) {
  .hero .hero-aside {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.hero .hero-aside .aside-copy {
  text-align: center;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .hero .hero-aside .aside-copy {
    text-align: left;
  }
}
@media (min-width: 1600px) {
  .hero .hero-aside .aside-copy {
    width: 580px;
  }
}
main img,
.quick-links img {
  width: 100%;
}
