@import "variables";

.links {
    cursor: pointer;
    font-weight: @bold;
    text-decoration: none;
}

// .rounded-container {
//     border-radius: 5px;
//     padding: @pad-sm;
// }

.btn {
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    padding: @pad-sm;
    margin: @pad-xs 0;
}