// Colors
@green: #B0B579;
@blue: #82A9B4;
@darkgray: #242424;

@gray: #D3D3D3;
@lightgray: #F2F2F2;
@white: #FFFFFF;

@red: #EB3840;
@fadedGreen: rgba(176,181,121, 0.3);

// Fonts
@regular: 400;
@bold: 700;

@font-16: 1rem;
@font-18: 1.125rem;
@font-20: 1.25rem;
@font-24: 1.5rem;
@font-30: 1.85rem;

//Padding
@pad-xxs: 0.25rem;
@pad-xs: 0.5rem;
@pad-sm: 1rem;
@pad-md: 1.5rem;